services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: smartlearn
      MYSQL_USER: smartuser
      MYSQL_PASSWORD: smartpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    image: backend
    ports:
      - "9090:9090"
    volumes:
      - ./src:/app/src
    depends_on:
      - mysql

volumes:
  db_data:
